# Boston House Price
* <font color = 'blue'>'boston.csv' (506 * 14)</font>

 - CRIM: 범죄 발생률
 - ZN: 25,000평방피트를 초과하는 거주 지역의 비율
 -  INDUS: 비소매 상업 지역 비율
 - CHAS: 찰스강 인접 여부(강주변 1, 아니면 0)
 - NOX: 일산화질소 농도
 - RM: 거주 목적 방 개수
 - AGE: 1940년 이전 건축된 주택 비율
 - DIS: 보스턴 5대 고용지역까지 거리
 - RAD: 고속도로 접근성
 - TAX: 10,000달러당 재산세율
 - PTRATIO: 교사와 학생 수 비율
 - B: 흑인 거주 비율
 - LSTAT: 하위 계층 비율
 - <font color = 'red'>PRICE: 주택 가격 -> 'y'

In [100]:
import warnings
warnings.filterwarnings('ignore')

# I. Data Load
* 'boston.csv' Github에서 읽어오기

In [101]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rusita-ai/pyData/master/boston.csv'
DF = pd.read_csv(url)

DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [102]:
DF.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

# II. 탐색적 데이터 분석(EDA)

## <font color = 'blue'> Case 1. 스케일링 진행시 결과
훈련데이터 RMSE: 4.798889059007903 <br>
테스트데이터 RMSE: 4.3585836226454795 <br>
훈련데이터 R2: 0.8597689840527434 <br>
테스트데이터 R2: 0.8505450876922386 <br>

In [103]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X = DF.iloc[:,0:-1]
Y = DF[['PRICE']]

scaler.fit(X)
x_scaled = scaler.transform(X)
x_scaled = pd.DataFrame(x_scaled, columns= X.columns)
x_scaled

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058

# III. train_test_split( )

* 8 : 2
 - random_state = 2045

In [104]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, Y, random_state =2045, test_size= 0.2)

# IV. Modeling - Multivariate Regression

In [105]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
pred_tr = model.predict(x_train)
pred_ts = model.predict(x_test)
pred_ts[:3]

array([[33.03480236],
       [23.13311186],
       [18.41319714]])

In [106]:
from sklearn.metrics import mean_squared_error
print('훈련데이터 RMSE:', mean_squared_error(y_train, pred_tr)**0.5)
print('테스트데이터 RMSE:', mean_squared_error(y_test, pred_ts)**0.5)
print('훈련데이터 R2:', r2_score(y_train, pred_tr)**0.5)
print('테스트데이터 R2:', r2_score(y_test, pred_ts)**0.5)

훈련데이터 RMSE: 4.798889059007903
테스트데이터 RMSE: 4.3585836226454795
훈련데이터 R2: 0.8597689840527434
테스트데이터 R2: 0.8505450876922386

## <font color ='blue'> Case 2. 스케일링 및 다중공선성 제거 진행시 결과

  훈련데이터 RMSE: 4.839232762825008 <br>
  테스트데이터 RMSE: 4.44544493327522 <br>
  훈련데이터 R2: 0.8572043447698048 <br>
테스트데이터 R2: 0.8439748628214047 <br>

In [107]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["features"] = x_scaled.columns


vif["VIF Factor"] = [variance_inflation_factor(x_scaled.values, i) for i in range(x_scaled.shape[1])]
print(vif.sort_values('VIF Factor', ascending = False))

x_scaled2 = x_scaled.drop(columns= ['TAX']) # VIF값이 10에 가까운 tax 제거

   features  VIF Factor
9       TAX    9.008554
8       RAD    7.484496
4       NOX    4.393720
2     INDUS    3.991596
7       DIS    3.955945
6       AGE    3.100826
12    LSTAT    2.941491
1        ZN    2.298758
5        RM    1.933744
10  PTRATIO    1.799084
0      CRIM    1.792192
11        B    1.348521
3      CHAS    1.073995

In [108]:
x_scaled2.shape

(506, 12)

# III. train_test_split( )

* 8 : 2
 - random_state = 2045

In [109]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled2, Y, random_state =2045, test_size= 0.2)

# IV. Modeling - Multivariate Regression

In [110]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
pred_tr = model.predict(x_train)
pred_ts = model.predict(x_test)
pred_ts[:3]

array([[32.70319096],
       [22.85678092],
       [18.43088319]])

In [111]:
from sklearn.metrics import mean_squared_error
print('훈련데이터 RMSE:', mean_squared_error(y_train, pred_tr)**0.5)
print('테스트데이터 RMSE:', mean_squared_error(y_test, pred_ts)**0.5)
print('훈련데이터 R2:', r2_score(y_train, pred_tr)**0.5)
print('테스트데이터 R2:', r2_score(y_test, pred_ts)**0.5)

훈련데이터 RMSE: 4.839232762825008
테스트데이터 RMSE: 4.44544493327522
훈련데이터 R2: 0.8572043447698048
테스트데이터 R2: 0.8439748628214047

## <font color ='blue'> Case 3. 스케일링 및 다항변환 진행시 결과
훈련데이터 RMSE: 2.3977553465800474 <br>
테스트데이터 RMSE: 4.011575825901561 <br>
훈련데이터 R2: 0.9668983624999674 <br>
테스트데이터 R2: 0.8750500008504504 <br>

In [112]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 2, include_bias = False)
x_scaled_poly= poly.fit_transform(x_scaled)
x_scaled_poly.shape

(506, 104)

# III. train_test_split( )

* 8 : 2
 - random_state = 2045

In [113]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled_poly, Y, random_state =2045, test_size= 0.2)

# IV. Modeling - Multivariate Regression

In [114]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
pred_tr = model.predict(x_train)
pred_ts = model.predict(x_test)
pred_ts[:3]

array([[33.23364258],
       [22.29272461],
       [12.97167969]])

In [115]:
from sklearn.metrics import mean_squared_error
print('훈련데이터 RMSE:', mean_squared_error(y_train, pred_tr)**0.5)
print('테스트데이터 RMSE:', mean_squared_error(y_test, pred_ts)**0.5)
print('훈련데이터 R2:', r2_score(y_train, pred_tr)**0.5)
print('테스트데이터 R2:', r2_score(y_test, pred_ts)**0.5)

훈련데이터 RMSE: 2.3977553465800474
테스트데이터 RMSE: 4.011575825901561
훈련데이터 R2: 0.9668983624999674
테스트데이터 R2: 0.8750500008504504

## <font color ='blue'> Case 4. 스케일링 및 상호작용변수 생성시 결과
훈련데이터 RMSE: 4.7554272238393605 <br>
테스트데이터 RMSE: 4.430685518193654 <br>
훈련데이터 R2: 0.8624993980806654 <br>
테스트데이터 R2: 0.8451040397221733 <br>

In [116]:
x_scaled3 = x_scaled.copy()
x_scaled3['CR_LS'] = x_scaled3['CRIM'] * x_scaled3['LSTAT']
x_scaled3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  CR_LS    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

# III. train_test_split( )

* 8 : 2
 - random_state = 2045

In [117]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled3, Y, random_state =2045, test_size= 0.2)

# IV. Modeling - Multivariate Regression

In [118]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
pred_tr = model.predict(x_train)
pred_ts = model.predict(x_test)
pred_ts[:3]

array([[33.39359951],
       [23.16100397],
       [18.10407732]])

In [119]:
from sklearn.metrics import mean_squared_error, r2_score
print('훈련데이터 RMSE:', mean_squared_error(y_train, pred_tr)**0.5)
print('테스트데이터 RMSE:', mean_squared_error(y_test, pred_ts)**0.5)
print('훈련데이터 R2:', r2_score(y_train, pred_tr)**0.5)
print('테스트데이터 R2:', r2_score(y_test, pred_ts)**0.5)

훈련데이터 RMSE: 4.7554272238393605
테스트데이터 RMSE: 4.430685518193654
훈련데이터 R2: 0.8624993980806654
테스트데이터 R2: 0.8451040397221733

# 
# 
# 
# The End
# 
# 
#